:root{
    --bg-color:#091921;
    --primary-color:rgba(255,255,255,0.1);
    --border-radius:8px;
    --second-color:#fff;
    --border-color:white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--bg-color);
}
.box{
    background-color: var(--primary-color);
    padding: 30px;
    width: 400px;
    backdrop-filter: blur(15px);
    border-radius: var(--border-radius);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.5);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.5);
    
}
.qr-header h1{
    
     font-size: 26px;
     text-align: center;
     margin-bottom: 24px;
     text-transform: uppercase;
     color: #fff;
     transition: 0.25s;
}

.qr-header h1:hover {
    color: blue;
    text-shadow: 5px 5px 5px black;
}
.qr-header input{
    width: 100%;
    margin-block: 12px;
    background-color: var(--primary-color);
    color: #fff;
}
.qr-header input::placeholder{
    color: #fff;
}
.qr-header input, select{
    padding: 8px;
    border-radius: var(--border-radius);
    font-size: 18px;
    outline: none;
    border: 2px solid var(--primary-color);
}
.qr-header label{
    color:#fff;
    font-size: 20px;
}
.qr-header label:hover{
    color:blue;
    text-shadow: 5px 5px 5px black;
}
    
.qr-header select{
    background-color: var(--primary-color);
    color: #fff;
}

.qr-header div{
    display: flex;
    justify-content: space-between;
}
.qr-footer{
    display: flex;
    justify-content: center;
}
.qr-footer a{
    background-color: var(--primary-color);
    text-decoration: none;
    font-size: 20px;
    padding: 14px 36px;
    margin-inline: 2px;
    color: #fff;
    font-weight: 600;
    border-radius: var(--border-radius);
    border-top: 0.5px solid rgba(255,255,255,0.5);
    border-left: 0.5px solid rgba(255,255,255,0.5);
    
}
.qr-footer a:hover{
    color: black;
    background-color: blue;

}
.qr-body{
    display: grid;
    place-items: center;
    padding: 20px;
}
 .qr-body img{
    max-width: 100%;
    max-height: 100%;
    margin-block: 10px;
    padding: 20px;
    border-left: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-radius: var(--border-radius);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.5);
} 

body span{
    position: absolute;
    bottom: -20px;
    background-color: transparent;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: inset 0 0 10px rgba(255,255,255,0.5);
    animation: animate 4s linear infinite;
    z-index: -1;
}
body span:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(0.25) translate(-70%,70%);
    background: radial-gradient(#555,transparent);
    border-radius: 50%;
}
@keyframes animate{
    0%{
        transform: translateY(0%);
        opacity: 1;
    }99%{
        opacity: 1;
    }
    100%{
        transform: translateY(-1200%);
        opacity: 0;
    }
}

/* css for small screen  */
@media only screen and (max-width:600px){
    .box{
        background-color: var(--primary-color);
        padding: 30px;
        width: 80%;
        border-radius: var(--border-radius);
    }
    .qr-footer{
        margin-top: 7px;
    }
    .qr-footer a{
        padding: 12px;
        font-size: 16px;
        margin-inline: 4px;
    }
    .qr-body{
        display: none;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        margin-left: 30px;
        margin-block: 20px;
        padding: 20px;
        border-left: 0.5px solid rgba(255,255,255,0.2);
        border-top: 0.5px solid rgba(255,255,255,0.2);
        border-radius: var(--border-radius);
        box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
    }
    .qr-body img{
        display: none;
        border: none;   
    } 
}